.gallery {
  margin: 24px 24px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px 24px;
}

.gallery li {
  width: calc((100% - 48px) / 3);
}

img {

  width: 100%;
  cursor: pointer;
}

body{
  height: 100%;
}
